<!DOCTYPE html>
<html >
	<head style = "background-color:rgb(129, 6, 6)">
		<title>Movie List</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" >
	</head>
	<body class="container" style = "background-color:rgb(36, 34, 34)">
		<h1 style="color:rgb(18, 160, 196)">
			Movie List
			<a href="logout" class="btn btn-primary pull-right" style="margin-left:10px">Logout</a>
			<a href="new-entry" class="btn btn-primary pull-right">Add movie to library</a>
		</h1>