<% include header %>
    <div class="form-group" style="color:rgb(18, 160, 196)">
        <form name"signUpForm" action="sign-in" method="post" class"form-group">

        <% if(newData.hasPassed) { %>
            <div style="color:rgb(255, 0, 0)">Sign Up Successful</div>
        <% } %>

        <label for="Username">Username</label>
        <input name="username" placeholder="Username" class="form-control" width="200"><br>
        <label for="Password">Create Password</label>
        <input name="password" placeholder="Create Password" class="form-control" type="password" width="200"><br>
        <input type="submit" id="Sign In" class="btn btn-primary" value="Sign In">
        </form>
    </div>

<% include footer %>